<!doctype html>
<html lang="zxx">
    

<head>
        <!-- Required meta tags -->
		<meta charset="utf-8">
		{% load static%}
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap Min CSS --> 
		<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
		<!-- Owl Theme Default Min CSS --> 
		<link rel="stylesheet" href="{% static 'assets/css/owl.theme.default.min.css' %}">
		<!-- Owl Carousel Min CSS --> 
		<link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
		<!-- Owl Magnific Min CSS --> 
		<link rel="stylesheet" href="{% static 'assets/css/magnific-popup.min.css' %}">
		<!-- Animate Min CSS --> 
		<link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
		<!-- Boxicons Min CSS --> 
		<link rel="stylesheet" href="{% static 'assets/css/boxicons.min.css' %}"> 
		<!-- Flaticon CSS --> 
		<link rel="stylesheet" href="{% static 'assets/css/flaticon.css' %}">
		<!-- Meanmenu Min CSS -->
		<link rel="stylesheet" href="{% static 'assets/css/meanmenu.min.css' %}">
		<!-- Nice Select Min CSS -->
		<link rel="stylesheet" href="{% static 'assets/css/nice-select.min.css' %}">
		<!-- Odometer Min CSS-->
		<link rel="stylesheet" href="{% static 'assets/css/odometer.min.css' %}">
		<!-- Style CSS -->
		<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
		<!-- Responsive CSS -->
		<link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
		<!-- Favicon -->
		
		<link rel="icon" type="image/png" href="{% static 'assets/img/favicon.png' %}">
		
		<!-- Title -->
		<title>Blogs</title>
    </head>

    <body>
		

		
		
		<!DOCTYPE html>

<html>
    <head>
        <!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		{%load static%}
		<!-- Bootstrap Min CSS --> 
		<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
		
		<!-- Owl Theme Default Min CSS --> 
		<link rel="stylesheet" href="{% static 'assets/css/owl.theme.default.min.css' %}">
		<!-- Owl Carousel Min CSS --> 
		<link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
		<!-- Owl Magnific Min CSS --> 
		<link rel="stylesheet" href="{% static 'assets/css/magnific-popup.min.css' %}">
		<!-- Animate Min CSS --> 
		<link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
		<!-- Boxicons Min CSS --> 
		<link rel="stylesheet" href="{% static 'assets/css/boxicons.min.css' %}"> 
		<!-- Flaticon CSS --> 
		<link rel="stylesheet" href="{% static 'assets/css/flaticon.css' %}">
		<!-- Meanmenu Min CSS -->
		<link rel="stylesheet" href="{% static 'assets/css/meanmenu.min.css' %}">
		<!-- Nice Select Min CSS -->
		<link rel="stylesheet" href="{% static 'assets/css/nice-select.min.css' %}">
		<!-- Odometer Min CSS-->
		<link rel="stylesheet" href="{% static 'assets/css/odometer.min.css' %}">
		<!-- Style CSS -->
		<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
		<!-- Responsive CSS -->
		<link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
		<!-- Favicon -->
		
		
		<!-- Title -->
		<title></title>
    </head>
    <body>
        <!-- Start Heder Area --> 
		<header class="header-area fixed-top">
			<div class="top-header-area">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-lg-6">
							<div class="header-content-left">
								<p id="home_header"></p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Start Navbar Area -->
			<div class="nav-area">
				<div class="navbar-area">
					<!-- Menu For Mobile Device -->
					<div class="mobile-nav">
						<a href="index.html" class="logo">
							<img src="{% static 'assets/img/logo.png' %}" alt="Logo">
						</a>
					</div>

					<!-- Menu For Desktop Device -->
					<div class="main-nav">
						<nav class="navbar navbar-expand-md navbar-light">
							<div class="container">
								<h1>
									Insura
								</h1>
								
								<div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
									<ul class="navbar-nav m-auto">
										<li class="nav-item">
											<a href="{% url 'home'%}" class="nav-link dropdown-toggle active">
												Home
											</a>
										</li>

										<li class="nav-item">
											<a href="#" class="nav-link dropdown-toggle">
												Pages
												<i class="bx bx-plus"></i>
											</a>

											<ul class="dropdown-menu">
												<li class="nav-item">
													<a href="{% url 'testimonials'%}" class="nav-link">Testimonials</a>
												</li>

												<li class="nav-item">
													<a href="{% url 'team'%}" class="nav-link">Team</a>
												</li>

												<li class="nav-item">
													<a href="{% url 'faq' %}" class="nav-link">FAQ</a>
												</li>

												<li class="nav-item">
													<a href="{% url 'conditions' %}" class="nav-link">Terms & Conditions</a>
												</li>

												<li class="nav-item">
													<a href="{% url 'policy' %}" class="nav-link">Privacy Policy</a>
												</li>
												

												<li class="nav-item">
													<a href="404.html" class="nav-link">404 Error Page</a>
												</li>
											</ul>
										</li>
										<li class="nav-item">
											<a href="#" class="nav-link dropdown-toggle">
												User
												<i class="bx bx-plus"></i>
											</a>

											<ul class="dropdown-menu">
												<li class="nav-item">
													<a href="{% url 'login'%}" class="nav-link">Log In</a>
												</li>
												<li class="nav-item">
													<a href="{% url 'sign_in'%}" class="nav-link">Sign In</a>
												</li>
												<li class="nav-item">
													<a href="recover-password.html" class="nav-link">Recover Password</a>
												</li>
											</ul>
										</li>
										<li class="nav-item">
											<a href="{% url 'contact' %}" class="nav-link">Contact</a>
										</li>
										<li class="nav-item">
											{% if user_credentials %}
											<a href="{% url 'profile' %}" class="nav-link">My account</a>
											{% else %}
											<a href="#" class="nav-link" onclick="javascript:alert('please login to an account')">My account</a>
											<script>
												//prompt('Please create account')
											</script>
											{% endif %}
										</li>
										<li class="nav-item">
											<a href="{% url 'Products' %}" class="nav-link">Our products</a>
											
										</li>
										<li class="nav-item">
											<a href="{% url 'blog'%}" class="nav-link dropdown-toggle active">
												Blog
												<i class="bx bx-plus"></i>
											</a>

											<ul class="dropdown-menu">
												<li class="nav-item">
													<a href="{% url 'blog'%}" class="nav-link active">Blog</a>
												</li>
												
											</ul>
										</li>
									</ul>
									
									<!-- Start Other Option -->
									<div class="others-option">
										

										<div class="subscribe">
											<a href="{% url 'check_fraud' %}" class="default-btn">
												Check for Insurance fraud
											</a>
										</div>

										<div class="sidebar-menu">
											<a href="#" data-bs-toggle="modal" data-bs-target="#myModal2">
												<i class="bx bx-grid-alt"></i>
											</a>
										</div>
									</div>
									<!-- End Other Option -->
								</div>
							</div>
						</nav>
					</div>
				</div>
			</div>
			<!-- End Navbar Area -->
		</header>
		<!-- End Heder Area -->
    
    </body>
</html>

		<!-- Start Sidebar Modal -->
		{% include 'frontend/Sidebar-Modal.html'%}
		<!-- End Sidebar Modal -->

		<!-- Start Page Title Area -->
		<div class="page-title-area bg-2">
			<div class="container">
				<div class="page-title-content">
					<h2>Blog Page</h2>
					<ul>
						<li>
							<a href="index.html">
								Home 
							</a>
						</li>
						
						<li>Blog Grid</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- End Page Title Area -->

		<!-- Start Blog Area -->
		<section class="blog-area ptb-100">
			<div class="container">
				<div class="section-title">
					<span>Blog</span>
					<h2>Latest News From Our Blog</h2>
					<p>Gey our latest updates on Autom insurance fraud detection related news, article, and other blog</p>
				</div>

				<div class="row">
					{% for blog_content in blog_contents %}
						<div class="col-lg-4 col-md-6">
						<div class="single-blog wow fadeInUp" data-wow-delay=".2s">
							<a href="">
								<img src="media/{{blog_content.user_image}}" alt="Image">
							</a>

							<div class="blog-content">
								<ul>
									<li>
										{{blog_content.date}}
									</li>
									<li>
										<a href="#">By {{blog_content.author_name}}</a>
									</li>
								</ul>

								<a href="">
									<h3>{{blog_content.blog_title}}</h3>
								</a>

								<p>{{blog_content.writing}}</p>

								<a href="{% url 'blog_details' blog_content.id %}" class="read-more">
									Read More
									<i class="bx bx-plus"></i>
								</a>
							</div>
						</div>
					</div>
					{% endfor %}
					
					</div>
				</div>
			</div>
		</section>
		<!-- End Blog Area -->

		{% include 'footer.html'%}

		<!-- Start Go Top Area -->
		<div class="go-top">
			<i class='bx bx-chevrons-up'></i>
			<i class='bx bx-chevrons-up'></i>
		</div>
		<!-- End Go Top Area --> 
		

        <!-- Jquery Min JS -->
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script data-cfasync="false" src="{% static 'cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js' %}"></script><script src="{% static 'assets/js/jquery.min.js' %}"></script>
        <!-- Bootstrap Bundle  MinJS -->
        <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
        <!-- Meanmenu Min JS -->
		<script src="{% static 'assets/js/meanmenu.min.js' %}"></script>
        <!-- Wow Min JS -->
        <script src="{% static 'assets/js/wow.min.js' %}"></script>
        <!-- Owl Carousel Min JS -->
		<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
        <!-- Owl Magnific Min JS -->
		<script src="{% static 'assets/js/magnific-popup.min.js' %}"></script>
        <!-- Nice Select Min JS -->
		<script src="{% static 'assets/js/nice-select.min.js' %}"></script>
		<!-- Jarallax Min JS --> 
		<script src="{% static 'assets/js/jarallax.min.js' %}"></script>
		<!-- Mixitup Min JS -->
		<script src="{% static 'assets/js/mixitup.min.js' %}"></script>
		<!-- Appear Min JS --> 
        <script src="{% static 'assets/js/appear.min.js' %}"></script>
		<!-- Odometer Min JS --> 
		<script src="{% static 'assets/js/odometer.min.js' %}"></script>
		<!-- Form Ajaxchimp Min JS -->
		<script src="{% static 'assets/js/ajaxchimp.min.js' %}"></script>
		<!-- Form Validator Min JS -->
		<script src="{% static 'assets/js/form-validator.min.js' %}"></script>
		<!-- Contact JS -->
		<script src="{% static 'assets/js/contact-form-script.js' %}"></script>
        <!-- Custom JS -->
		<script src="{% static 'assets/js/custom.js' %}"></script>
    </body>


</html>