<!-- Start Footer Top Area -->
<footer class="footer-top-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="single-widget">
                    <h1 id>
                        Insura
                    </h1>

                    <p>Insura provides seamless experirence of insurance claims. Solving your Insurance Problems.Protection is just Click Away.
                        Securing you and your Family for a Better Future.</p>

                    <div class="social-area">
                        <ul>
                            <li>
                                <a href="#"><i class="bx bxl-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="bx bxl-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="bx bxl-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="bx bxl-youtube"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="bx bxl-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-widget contact">
                    <h3>Contact Us</h3>

                    <ul>
                        <li>
                            <i class="flaticon-call"></i>
                            <span>Hotline:</span> 
                            <a href="tel:+822456974">
                                +822456974
                            </a>
                        </li>
                        
                        <li>
                            <i class="flaticon-email"></i>
                            <span>Email:</span> 
                            Insura@service.com
                            </a>
                        </li>
                        
                        <li>
                            <i class="flaticon-maps-and-flags"></i>
                            <span>Address:</span> 
                            123, Western Road, Melbourne Australia
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-widget">
                    <h3>Service Links</h3>

                    <ul>
                        <li>
                            <a href="#">
                                Insurance
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Car Insurance
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Home Insurance
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Investment
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Health Insurance
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Business 
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-widget">
                    <h3>Newsletter</h3>

                    <p class="newsletter-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</p>

                    <div class="subscribe-wrap">
                        <form class="newsletter-form" data-toggle="validator">
                            <input type="email" class="form-control" placeholder="Enter Your Email" name="EMAIL" required autocomplete="off">

                            <button class="default-btn" type="submit">
                                Subscribe
                            </button>

                            <div id="validator-newsletter" class="form-result"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer Top Area -->

<!-- Start Footer Bottom Area -->
<footer class="footer-bottom-area footer-bottom-electronics-area">
    <div class="container">
        <div class="copy-right">
            <p>
                Copyright <i class="bx bx-copyright"></i>2023
                <a href="https://envytheme.com/" target="blank">Insura</a>
            </p>
        </div>
    </div>
</footer>