
<!doctype html>
<html lang="zxx">


<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		{%load static%}
		<!-- Bootstrap Min CSS --> 
		<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
		<!-- Owl Theme Default Min CSS --> 
		<link rel="stylesheet" href="{% static 'assets/css/owl.theme.default.min.css' %}">
		<!-- Owl Carousel Min CSS --> 
		<link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
		<!-- Owl Magnific Min CSS --> 
		<link rel="stylesheet" href="{% static 'assets/css/magnific-popup.min.css' %}">
		<!-- Animate Min CSS --> 
		<link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
		<!-- Boxicons Min CSS --> 
		<link rel="stylesheet" href="{% static 'assets/css/boxicons.min.css' %}"> 
		<!-- Flaticon CSS --> 
		<link rel="stylesheet" href="{% static 'assets/css/flaticon.css' %}">
		<!-- Meanmenu Min CSS -->
		<link rel="stylesheet" href="{% static 'assets/css/meanmenu.min.css' %}">
		<!-- Nice Select Min CSS -->
		<link rel="stylesheet" href="{% static 'assets/css/nice-select.min.css' %}">
		<!-- Odometer Min CSS-->
		<link rel="stylesheet" href="{% static 'assets/css/odometer.min.css' %}">
		<!-- Style CSS -->
		<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
		<!-- Responsive CSS -->
		<link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
		<!-- Favicon -->
		
		<link rel="icon" type="image/png" href="{% static 'assets/img/favicon.png' %}">
		
		<!-- Title -->
		<title>Insura - Insurance & Finance Company</title>
		
		
    </head>
    <body>
        <!-- Start Heder Area --> 
		<header class="header-area fixed-top">
			<div class="top-header-area">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-lg-6">
							<div class="header-content-left">
								<p>Welcome To Insura</p>
							</div>
						</div>

						<div class="col-lg-6">
							<div class="tp-header-login d-none d-lg-block">
								<a href="#" class="d-flex align-items-center justify-content-end">
								   <div class="tp-header-login-icon">
									  <span>
										 <svg width="17" height="21" viewBox="0 0 17 21" fill="none" xmlns="http://www.w3.org/2000/svg">
											<circle cx="8.57894" cy="5.77803" r="4.77803" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
											<path fill-rule="evenodd" clip-rule="evenodd" d="M1.00002 17.2014C0.998732 16.8655 1.07385 16.5337 1.2197 16.2311C1.67736 15.3158 2.96798 14.8307 4.03892 14.611C4.81128 14.4462 5.59431 14.336 6.38217 14.2815C7.84084 14.1533 9.30793 14.1533 10.7666 14.2815C11.5544 14.3367 12.3374 14.4468 13.1099 14.611C14.1808 14.8307 15.4714 15.27 15.9291 16.2311C16.2224 16.8479 16.2224 17.564 15.9291 18.1808C15.4714 19.1419 14.1808 19.5812 13.1099 19.7918C12.3384 19.9634 11.5551 20.0766 10.7666 20.1304C9.57937 20.2311 8.38659 20.2494 7.19681 20.1854C6.92221 20.1854 6.65677 20.1854 6.38217 20.1304C5.59663 20.0773 4.81632 19.9641 4.04807 19.7918C2.96798 19.5812 1.68652 19.1419 1.2197 18.1808C1.0746 17.8747 0.999552 17.5401 1.00002 17.2014Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
										 </svg>                                       
									  </span>
								   </div>
								   <div class="tp-header-login-content d-none d-xl-block">
									  <span>Hello, Sign In</span>
									  <h5 class="tp-header-login-title">Your Account</h5>
								   </div>
								</a>
							 </div>
						</div>
					</div>
				</div>
			</div>

			<!-- Start Navbar Area -->
			<div class="nav-area">
				<div class="navbar-area">
					<!-- Menu For Mobile Device -->
					<div class="mobile-nav">
						<a href="index.html" class="logo">
							<img src="{% static 'assets/img/logo.png' %}" alt="Logo">
						</a>
					</div>

					<!-- Menu For Desktop Device -->
					<div class="main-nav">
						<nav class="navbar navbar-expand-md navbar-light">
							<div class="container">
								<h1>
									Insura
								</h1>
								
								<div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
									<ul class="navbar-nav m-auto">
										<li class="nav-item">
											<a href="#" class="nav-link dropdown-toggle active">
												Home
												<i class="bx bx-plus"></i>
											</a>

											<ul class="dropdown-menu">
												<li class="nav-item">
													<a href="{% url 'home' %}" class="nav-link active">Home One</a>
												</li>
												
												<li class="nav-item">
													<a href="index-3.html" class="nav-link">Home Three</a>
												</li>
												<li class="nav-item">
													<a href="index-4.html" class="nav-link">Home Four</a>
												</li>
												<li class="nav-item">
													<a href="index-5.html" class="nav-link">Home Five</a>
												</li>
												<li class="nav-item">
													<a href="index-6.html" class="nav-link">Home Six</a>
												</li>
											</ul>
										</li>

										<li class="nav-item">
											<a href="about.html" class="nav-link">About</a>
										</li>

										

										<li class="nav-item">
											<a href="#" class="nav-link dropdown-toggle">
												Insurance
												<i class="bx bx-plus"></i>
											</a>

											<ul class="dropdown-menu">
												<li class="nav-item">
													<a href="travel-insurance.html" class="nav-link">Travel Insurance</a>
												</li>
												<li class="nav-item">
													<a href="business-insurance.html" class="nav-link">Business Insurance</a>
												</li>
												<li class="nav-item">
													<a href="home-insurance.html" class="nav-link">Health Insurance</a>
												</li>
												<li class="nav-item">
													<a href="car-insurance.html" class="nav-link">Car Insurance</a>
												</li>
												<li class="nav-item">
													<a href="insurance-details.html" class="nav-link">Insurance Details</a>
												</li>
											</ul>
										</li>

										<li class="nav-item">
											<a href="#" class="nav-link dropdown-toggle">
												Portfolio
												<i class="bx bx-plus"></i>
											</a>

											<ul class="dropdown-menu">
												<li class="nav-item">
													<a href="portfolio-columns-two.html" class="nav-link">Portfolio Columns Two</a>
												</li>
												<li class="nav-item">
													<a href="portfolio-columns-three.html" class="nav-link">Portfolio Columns Three</a>
												</li>
												<li class="nav-item">
													<a href="portfolio-columns-four.html" class="nav-link">Portfolio Columns Four</a>
												</li>
												<li class="nav-item">
													<a href="portfolio-light-box.html" class="nav-link">Portfolio Light Box</a>
												</li>
												<li class="nav-item">
													<a href="portfolio-masonry.html" class="nav-link">Portfolio Masonry</a>
												</li>
												<li class="nav-item">
													<a href="portfolio-details.html" class="nav-link">Portfolio Details</a>
												</li>
											</ul>
										</li>

										<li class="nav-item">
											<a href="#" class="nav-link dropdown-toggle">
												Blog
												<i class="bx bx-plus"></i>
											</a>

											<ul class="dropdown-menu">
												<li class="nav-item">
													<a href="blog-grid.html" class="nav-link">Blog Grid</a>
												</li>
												<li class="nav-item">
													<a href="blog-columns-two.html" class="nav-link">Blog Columns Two</a>
												</li>
												<li class="nav-item">
													<a href="blog-left-sidebar.html" class="nav-link">Blog Left Sidebar</a>
												</li>
												<li class="nav-item">
													<a href="blog-right-sidebar.html" class="nav-link">Blog Right Sidebar</a>
												</li>
												<li class="nav-item">
													<a href="blog-details.html" class="nav-link">Blog Details</a>
												</li>
											</ul>
										</li>

										<li class="nav-item">
											<a href="contact.html" class="nav-link">Contact</a>
										</li>
									</ul>
									
									<!-- Start Other Option -->
									<div class="others-option">
										

										<div class="subscribe">
											<a href="{% url 'check_fraud' %}" class="default-btn">
												Check for Insurance fraud
											</a>
										</div>

										<div class="sidebar-menu">
											<a href="#" data-bs-toggle="modal" data-bs-target="#myModal2">
												<i class="bx bx-grid-alt"></i>
											</a>
										</div>
									</div>
									<!-- End Other Option -->
								</div>
							</div>
						</nav>
					</div>
				</div>
			</div>
			<!-- End Navbar Area -->
		</header>
		<!-- End Heder Area -->

        <!-- Jquery Min JS -->
        <script data-cfasync="false" src="{% static 'cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js' %}"></script><script src="{% static 'assets/js/jquery.min.js' %}"></script>
        <!-- Bootstrap Bundle  MinJS -->
        <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
        <!-- Meanmenu Min JS -->
		<script src="{% static 'assets/js/meanmenu.min.js' %}"></script>
        <!-- Wow Min JS -->
        <script src="{% static 'assets/js/wow.min.js' %}"></script>
        <!-- Owl Carousel Min JS -->
		<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
        <!-- Owl Magnific Min JS -->
		<script src="{% static 'assets/js/magnific-popup.min.js' %}"></script>
        <!-- Nice Select Min JS -->
		<script src="{% static 'assets/js/nice-select.min.js' %}"></script>
		<!-- Jarallax Min JS --> 
		<script src="{% static 'assets/js/jarallax.min.js' %}"></script>
		<!-- Mixitup Min JS -->
		<script src="{% static 'assets/js/mixitup.min.js' %}"></script>
		<!-- Appear Min JS --> 
        <script src="{% static 'assets/js/appear.min.js' %}"></script>
		<!-- Odometer Min JS --> 
		<script src="{% static 'assets/js/odometer.min.js' %}"></script>
		<!-- Form Ajaxchimp Min JS -->
		<script src="{% static 'assets/js/ajaxchimp.min.js' %}"></script>
		<!-- Form Validator Min JS -->
		<script src="{% static 'assets/js/form-validator.min.js' %}"></script>
		<!-- Contact JS -->
		<script src="{% static 'assets/js/contact-form-script.js' %}"></script>
        <!-- Custom JS -->
		<script src="{% static 'assets/js/custom.js' %}"></script>
    </body>
</html>