<!doctype html>
<html lang="zxx">
    

<head>
      <!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		{%load static%}
		<!-- Bootstrap Min CSS --> 
		<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
		
		<!-- Owl Theme Default Min CSS --> 
		<link rel="stylesheet" href="{% static 'assets/css/owl.theme.default.min.css' %}">
		<!-- Owl Carousel Min CSS --> 
		<link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
		<!-- Owl Magnific Min CSS --> 
		<link rel="stylesheet" href="{% static 'assets/css/magnific-popup.min.css' %}">
		<!-- Animate Min CSS --> 
		<link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
		<!-- Boxicons Min CSS --> 
		<link rel="stylesheet" href="{% static 'assets/css/boxicons.min.css' %}"> 
		<!-- Flaticon CSS --> 
		<link rel="stylesheet" href="{% static 'assets/css/flaticon.css' %}">
		<!-- Meanmenu Min CSS -->
		<link rel="stylesheet" href="{% static 'assets/css/meanmenu.min.css' %}">
		<!-- Nice Select Min CSS -->
		<link rel="stylesheet" href="{% static 'assets/css/nice-select.min.css' %}">
		<!-- Odometer Min CSS-->
		<link rel="stylesheet" href="{% static 'assets/css/odometer.min.css' %}">
		<!-- Style CSS -->
		<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
		<!-- Responsive CSS -->
		<link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
		<!-- Favicon -->
		
		<link rel="icon" type="image/png" href="{% static 'assets/img/favicon.png' %}">
		
		<!-- Title -->
		<title>Privacy & Policy</title>
    </head>

    <body>
		<!-- Start Preloader Area -->
		<div class="preloader">
			<div class="lds-ripple">
				<div></div>
				<div></div>
			</div>
		</div>
		<!-- End Preloader Area -->

		{% include 'nav1.html' %}

		<!-- Start Sidebar Modal -->
		{% include 'frontend/Sidebar-Modal.html'%}
		<!-- End Sidebar Modal -->

		<!-- Start Page Title Area -->
		<div class="page-title-area bg-1">
			<div class="container">
				<div class="page-title-content">
					<h2>Privacy Policy</h2>
					<ul>
						<li>
							<a href="index.html">
								Home 
							</a>
						</li>

						<li>Pages</li>

						<li>Privacy Policy</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- End Page Title Area -->

		<!-- Start Terms & Conditions Area -->
		<section class="terms-conditions ptb-100">
			<div class="container">
				<div class="single-privacy">
					<h3 class="mt-0">Welcome To Insura Privacy Policy</h3>
					<p>
						Thank you for choosing [Your Company Name]. This Privacy Policy outlines how we collect, use, disclose, and protect your personal information when you access and use our insurance fraud detection services.

<p>
	1. Information We Collect:

<ul>
	a. Personal Information:

During the onboarding process, we may collect personal information such as your name, contact details, and company information.
</ul>
<ul>
	b. Usage Data:

We may collect information about how you use our services, including log data, IP addresses, device information, and browser type.
</ul>
</p>

<p>
2. How We Use Your Information:

<ul>
	a. Service Provision:

Your personal information is used to provide you with access to our insurance fraud detection services and to improve and customize your user experience.
</ul>
<ul>
	b. Communication:

We may use your contact information to send you important updates, notifications, and information related to our services.
</ul>
c. Analytics:

We may use aggregated and anonymized data for analytical purposes to improve our services and enhance fraud detection capabilities.
</p>


<p>
	3. Data Security:

<ul>a. We implement security measures to protect your personal information from unauthorized access, disclosure, alteration, and destruction.</ul>

b. Access to personal information is restricted to employees and authorized service providers who require it for service delivery and improvement.
</p>

<p>
	4. Sharing Your Information:

<ul>a. We do not sell, trade, or rent your personal information to third parties.</ul>

b. We may share your information with third-party service providers who assist us in delivering our services, provided they adhere to confidentiality and data protection standards.
</p>
					
				</div>
			</div>
		</section>
		<!-- End Terms & Conditions Area -->

		{% include 'footer.html' %}

		<!-- Start Go Top Area -->
		<div class="go-top">
			<i class='bx bx-chevrons-up'></i>
			<i class='bx bx-chevrons-up'></i>
		</div>
		<!-- End Go Top Area --> 
		
		<!-- Jquery Min JS -->
      
        <!-- Bootstrap Bundle  MinJS -->
        <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
        <!-- Meanmenu Min JS -->
		<script src="{% static 'assets/js/meanmenu.min.js' %}"></script>
        <!-- Wow Min JS -->
        <script src="{% static 'assets/js/wow.min.js' %}"></script>
        <!-- Owl Carousel Min JS -->
		<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
        <!-- Owl Magnific Min JS -->
		<script src="{% static 'assets/js/magnific-popup.min.js' %}"></script>
        <!-- Nice Select Min JS -->
		<script src="{% static 'assets/js/nice-select.min.js' %}"></script>
		<!-- Jarallax Min JS --> 
		<script src="{% static 'assets/js/jarallax.min.js' %}"></script>
		<!-- Mixitup Min JS -->
		<script src="{% static 'assets/js/mixitup.min.js' %}"></script>
		<!-- Appear Min JS --> 
        <script src="{% static 'assets/js/appear.min.js' %}"></script>
		<!-- Odometer Min JS --> 
		<script src="{% static 'assets/js/odometer.min.js' %}"></script>
		<!-- Form Ajaxchimp Min JS -->
		<script src="{% static 'assets/js/ajaxchimp.min.js' %}"></script>
		<!-- Form Validator Min JS -->
		<script src="{% static 'assets/js/form-validator.min.js' %}"></script>
		<!-- Contact JS -->
		<script src="{% static 'assets/js/contact-form-script.js' %}"></script>
        <!-- Custom JS -->
		<script src="{% static 'assets/js/custom.js' %}"></script>

        
    </body>


</html>