<!doctype html>
<html lang="zxx">
    
<head>
        <!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		{%load static%}
		<!-- Bootstrap Min CSS --> 
		<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
		
		<!-- Owl Theme Default Min CSS --> 
		<link rel="stylesheet" href="{% static 'assets/css/owl.theme.default.min.css' %}">
		<!-- Owl Carousel Min CSS --> 
		<link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
		<!-- Owl Magnific Min CSS --> 
		<link rel="stylesheet" href="{% static 'assets/css/magnific-popup.min.css' %}">
		<!-- Animate Min CSS --> 
		<link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
		<!-- Boxicons Min CSS --> 
		<link rel="stylesheet" href="{% static 'assets/css/boxicons.min.css' %}"> 
		<!-- Flaticon CSS --> 
		<link rel="stylesheet" href="{% static 'assets/css/flaticon.css' %}">
		<!-- Meanmenu Min CSS -->
		<link rel="stylesheet" href="{% static 'assets/css/meanmenu.min.css' %}">
		<!-- Nice Select Min CSS -->
		<link rel="stylesheet" href="{% static 'assets/css/nice-select.min.css' %}">
		<!-- Odometer Min CSS-->
		<link rel="stylesheet" href="{% static 'assets/css/odometer.min.css' %}">
		<!-- Style CSS -->
		<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
		<!-- Responsive CSS -->
		<link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
		<!-- Favicon -->
		
		<link rel="icon" type="image/png" href="{% static 'assets/img/favicon.png' %}">
		
		
		<!-- Title -->
		<title>Recover Password</title>
    </head>

    <body>
		<!-- Start Preloader Area -->
		<div class="preloader">
			<div class="lds-ripple">
				<div></div>
				<div></div>
			</div>
		</div>
		<!-- End Preloader Area -->

		{% include 'nav1.html' %}

		<!-- Start Sidebar Modal -->
		<div class="sidebar-modal">  
			<div class="modal right fade" id="myModal2">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">
									<i class="bx bx-x"></i>
								</span>
							</button>

							<h2 class="modal-title">
								<a href="index.html">
									<img src="assets/img/logo.png" alt="Logo">
								</a>
							</h2>
						</div>

						<div class="modal-body">
							<div class="sidebar-modal-widget">
								<h3 class="title">About Us</h3>
								<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, asperiores doloribus eum laboriosam praesentium delectus unde magni aut perspiciatis cumque deserunt dolore voluptate, autem pariatur.</p>
							</div>

							<div class="sidebar-modal-widget">
								<h3 class="title">Additional Links</h3>

								<ul>
									<li>
										<a href="log-in.html">Log In</a>
									</li>
									<li>
										<a href="sign-in.html">Sign In</a>
									</li>
									<li>
										<a href="faq.html">FAQ</a>
									</li>
									<li>
										<a href="#">Log Out</a>
									</li>
								</ul>
							</div>

							<div class="sidebar-modal-widget">
								<h3 class="title">Contact Info</h3>

								<ul class="contact-info">
									<li>
										<i class="bx bx-location-plus"></i>
										Address
										<span>123, Western Road, Melbourne Australia</span>
									</li>
									<li>
										<i class="bx bx-envelope"></i>
										Email
										
									</li>
									<li>
										<i class="bx bxs-phone-call"></i>
										Phone
										<a href="tel:+822456974">+822456974</a>
									</li>
								</ul>
							</div>
							
							<div class="sidebar-modal-widget">
								<h3 class="title">Connect With Us</h3>

								<ul class="social-list">
									<li>
										<a href="#">
											<i class='bx bxl-twitter'></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class='bx bxl-facebook'></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class='bx bxl-instagram'></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class='bx bxl-linkedin'></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class='bx bxl-youtube'></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Sidebar Modal -->

		<!-- Start Page Title Area -->
		<div class="page-title-area bg-4">
			<div class="container">
				<div class="page-title-content">
					<h2>Recover Password!</h2>
					<ul>
						<li>
							<a href="index.html">
								Home 
							</a>
						</li>

						<li>Pages</li>

						<li>User</li>

						<li>Recover Password</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- End Page Title Area -->

		<!-- Start Recover Password Area -->
		<section class="user-area-all-style recover-password-area ptb-100">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="contact-form-action">
							<div class="form-heading text-center">
								<h3 class="form-title">Reset Password!</h3>
								<p class="reset-desc">Enter the email of your account to reset the password. Then you will receive a link to email to reset the password. If you have any issue about reset password <a href="contact.html">contact us.</a></p>
							</div>
							<form method="post">
								<div class="row">
									<div class="col-12">
										<div class="form-group">
											<input class="form-control" type="text" name="name" placeholder="Enter Email Address">
										</div>
									</div>
									
									<div class="col-lg-6 col-md-6 col-sm-6">
										<a class="now-log-in font-q" href="log-in.html">Log In</a>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6">
										<p class="now-register">
											Not a member?
											<a class="font-q" href="sign-in.html">Register</a>
										</p>
									</div>
									<div class="col-12">
										<button class="default-btn btn-two" type="submit">
											Reset Password
										</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Recover Password Area -->

		{% include 'footer.html' %}

		<!-- Start Go Top Area -->
		<div class="go-top">
			<i class='bx bx-chevrons-up'></i>
			<i class='bx bx-chevrons-up'></i>
		</div>
		<!-- End Go Top Area --> 
		
		<!-- Jquery Min JS -->
        <script data-cfasync="false" src="{% static 'cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js' %}"></script><script src="{% static 'assets/js/jquery.min.js' %}"></script>
        <!-- Bootstrap Bundle  MinJS -->
        <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
        <!-- Meanmenu Min JS -->
		<script src="{% static 'assets/js/meanmenu.min.js' %}"></script>
        <!-- Wow Min JS -->
        <script src="{% static 'assets/js/wow.min.js' %}"></script>
        <!-- Owl Carousel Min JS -->
		<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
        <!-- Owl Magnific Min JS -->
		<script src="{% static 'assets/js/magnific-popup.min.js' %}"></script>
        <!-- Nice Select Min JS -->
		<script src="{% static 'assets/js/nice-select.min.js' %}"></script>
		<!-- Jarallax Min JS --> 
		<script src="{% static 'assets/js/jarallax.min.js' %}"></script>
		<!-- Mixitup Min JS -->
		<script src="{% static 'assets/js/mixitup.min.js' %}"></script>
		<!-- Appear Min JS --> 
        <script src="{% static 'assets/js/appear.min.js' %}"></script>
		<!-- Odometer Min JS --> 
		<script src="{% static 'assets/js/odometer.min.js' %}"></script>
		<!-- Form Ajaxchimp Min JS -->
		<script src="{% static 'assets/js/ajaxchimp.min.js' %}"></script>
		<!-- Form Validator Min JS -->
		<script src="{% static 'assets/js/form-validator.min.js' %}"></script>
		<!-- Contact JS -->
		<script src="{% static 'assets/js/contact-form-script.js' %}"></script>
        <!-- Custom JS -->
		<script src="{% static 'assets/js/custom.js' %}"></script>
      
    </body>


</html>